html{
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
}
body {
    background: url(./tai_nguyen/anhnen/anhnen3.jpg) center;
    height: 100vh;
    width: 100vw;
    /*Chữ mặc định thiết bị System Fonts as used by Medium and WordPress */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

#tieu-de {
    font-family: "Kablammo", serif;
    font-weight: bolder;
    margin-top: 0%;
    font-size: 550%;
    text-align: center;
    color: transparent;
    background: linear-gradient(90deg, red, yellow, green, cyan, blue, violet);
    background-size: 400% 400%;
    color: transparent;
    -webkit-background-clip: text;
    animation: colorChange 5s ease infinite;
}
@keyframes colorChange {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
    }
#icon {
    height: 6%;
    width: 17%;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
    margin-top: 1.5%;
    border: 1rem double greenyellow;
    background-color: black;
    border-radius: 99.9rem;
    box-shadow: 0rem 0rem 3rem azure;
    margin-left: 40%;
}
.fa-solid{
    color: aqua;
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
    margin-right: 1rem;
}
.fa-solid:hover{
    color: gold;
    font-size: 4rem;
}
.fa-solid:active{
    color: lawngreen;
}
.fa:visited{
    color: azure;
}
#trang-chu{
    width: 100vw;
    text-decoration: none;
    font-size: 1.5rem;
    color: aquamarine;
}
#trang-chu:hover{
    color: azure;
}
#trang-chu:active{
    color: lawngreen;
}
#trang-chu:visited{
    color: azure;
}
#on-tap{
    width: 100vw;
    text-decoration: none;
    font-size: 1.5rem;
    color: aquamarine;
    margin-left: 10% ;
}
#on-tap:hover{
    color: azure;
}
#on-tap:active{
    color: lawngreen;
}
#on-tap:visited{
    color: azure;
}

@media only screen and (max-width:600px){
    #icon {
        height: 5%;
        width: 85%;
        padding-top: 3%;
        text-decoration: none;
        text-align: center;
        margin-top: 2%;
        border: 1rem double greenyellow;
        background-color: black;
        border-radius: 99.9rem;
        box-shadow: 0rem 0rem 3rem azure;
        margin-left: 4%;
    }
}