body {
  background-image: url(./tai_nguyen/anhnen/anhnen3.jpg);
  height: 100vh;
  width: 100vw;
  /*Chữ mặc định thiết bị System Fonts as used by Medium and WordPress */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
html {
  font-size: 62.5%;
}
#tieu-de {
  padding-top: 0.5rem;
  font-size: 700%;
  text-align: center;
  color: transparent;
  background-color: #fa8bff;
  background-image: -o-linear-gradient(
    45deg,
    #fa8bff 0%,
    #2bd2ff 52%,
    #2bff88 90%
  );
  background-image: linear-gradient(
    45deg,
    #fa8bff 0%,
    #2bd2ff 52%,
    #2bff88 90%
  );
  font-family: "Kablammo", serif;
  -webkit-background-clip: text;
}

#icon {
  color: red;
  padding: 3%;
}
#trang-chu {
  text-decoration: none;
  color: aqua;
  font-size: 2.5rem;
  margin: 1rem;
}
.fa-solid {
  color: aqua;
  font-size: 4rem;
}
